<section class="vh-100"  style= "background-color: rgb(9, 2, 12) ">

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem; border-color:blue">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://t3.ftcdn.net/jpg/05/61/25/12/360_F_561251285_OwsWSZFN2sk0JQBEQIbd1erBnaY8TbbF.jpg" 
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem ; height:600px" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form action="/loggedin" method="post" onsubmit="return validate()">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #05043d;"></i>
                                        <span class="h1 fw-bold mb-0">Happy Go Lucky</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"> Sign in to your
                                        account
                                    </h5>

                                    <div class="form-outline mb-4">
                                        <input type="email" name="email" id="EmailIdLogin"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="EmailIdLogin">Email address</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" id="passwordId"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="passwordId">Password</label>
                                    </div>

                                    <div class="d-grid col-12 mx-auto pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                    </div>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account?
                                        <a class="btn btn-primary text-decoration-none" href="/signup" style="color: #393f81;">Register
                                            here</a>
                                    </p>

                                </form>

                                {{#if popupstatus}}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong class="text-danger me-2">{{pop.response}} </strong> Try
                                    again.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script>
    function validate() {
        let formValidation = true
        if (document.getElementById("EmailIdLogin").value === "" || document.getElementById("passwordId").value === "") {
            formValidation = false
        } else {
            formValidation = true
        }
        return formValidation
    }
</script>