<section class="vh-100" style="background-color: #d2d1ec;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Happy Go Lucky</p>

                <form class="mx-1 mx-md-4" action="/signup" method="post" id="frmRegistration"
                  onsubmit="return validate()">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="namdid" name="name" class="form-control" />
                      <label class="form-label" for="namdid">Your Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="date" id="datebirthId" name="DateOfBirth" class="form-control" />
                      <label class="form-label" for="datebirthId">Date of Birth</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="EmailId" name="email" class="form-control" />
                      <label class="form-label" for="EmailId">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" name="Password" id="password1Id" class="form-control" />
                      <label class="form-label" for="password1Id">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="password2Id" class="form-control" />
                      <label class="form-label" for="password2Id">Repeat your password</label>
                    </div>
                  </div>
                  {{#if signuppop}}
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class=" alert alert-warning alert-dismissible fade show" role="alert">
                      <strong class="text-danger me-2">{{signuppop}} </strong> Try again
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    </div>
                  </div>
                  {{/if}}

                  <div class="form-check d-flex justify-content-center mb-5">

                    <label class="form-check-label" for="form2Example3">
                      Already have an account ? <a class="text-decoration-none" href="/login"> Login</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>


              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://c4.wallpaperflare.com/wallpaper/952/636/31/music-the-city-future-neon-wallpaper-preview.jpg"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function validate() {
    let formValidation = true
    if (document.getElementById("namdid").value === "" || document.getElementById("datebirthId").value === "" || document.getElementById("EmailId").value === "" || document.getElementById("password1Id").value === "" || document.getElementById("password2Id").value === "") {
      formValidation = false
      alert('Some values are missing')
    } else {
      if (document.getElementById("password1Id").value === document.getElementById("password2Id").value) {
        formValidation = true
      } else {
        alert('Password is not match')
        formValidation = false
      }
    }
    return formValidation
  }
</script>